body {
	font-family: Fjalla One, Arial, Arial black, Georgia;
	font size: 15px 
	color: #00d2ff
	background: #000000
}

h1 {
	color: #00d2ff;
	font: 35px Fjalla One, Arial Bold, sans serif;
	
}

li {
	list-style: none
}
