#wrapper { 
	width: 960px;
	margin: o auto;
	background-color: #2f2923;

}

body {
	color: #fff0f0;
	font-family: Fjalla One, Arial, Arial black, Georgia;
	font size: 15px 
	line-height: 1.5;
	width: 960px;
	margin: 0 auto;
	background-image: url("../images/bg.png");
	background-repeat: repeat-y repeat-x;
}

h1 {
	width: 600px;
	margin: 15px 75px;
	color: #ffd400;
	font: 35px Bowlby One SC, Arial Bold, sans serif;
	
}

ul {
	width: 960px;
	margin-bottom: 15px;
	background: #3a322a;
	list-style: none;
	padding: 0;
	overflow: hidden;
}

li {
	font-size: 20px;
	width: 200px;
	float: left;
}

a {
	text-decoration: none;
	background: #3a322a;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
}

a:hover {
	color: #007e99;
	background: #00d2ff;
}


h2 {
	width: 640px;
	padding: 5px;
	font: 30px Bowlby One SC, Arial Bold, sans serif;
	color: #00d2ff;
	text-shadow: 0.1em 0.1em 0.05em #333;
	text-shadow: 0.1em 0.1em 0.2em black;
	float: right;
	clear: both;
}

#contentarea {
 	margin: 15px 15px 15px 15px;
 	padding-bottom: 45px;
 	background: #ffd400;
	overflow: hidden;
}
	
.maincontent {
	width: 600px;
	padding-right: 48px;
	color: #00d2ff;
	float: right;
	clear: both;
} 

h3 {
	padding-top: 75px;
	padding-left: 20px;
	font: 30px Bowlby One SC, Arial Bold, sans serif;
	color: #00d2ff;
}



.gallery {
	width: 640px;
	height: 475px;
	margin: 35px;
	background: #3a322a;
	list-style: none;
	padding: 20px 0px 0px 90px;
	
}

.gallery li {
	display: inline;
	width: 300px;
	float: left;
	padding: 10px 10px 10px 10px;
	
}


h4 {
	font: 15px Bowlby One SC, Arial Bold, sans serif;
	color: #00d2ff;
	float: right;
	clear: both;
}


.announcement {
	font: 15px Bowlby One SC, Arial Bold, sans serif;
	color: #00d2ff;
	float: right;
	clear: both;

	
}

#aside {
	width:300px;
	height: 500px;
	background: #181512 
	float: right;
	clear: both;

}

#footer {
	height: 20px;
	padding: 20px;	
	background-color: #ffd400;
	
}

.footertext {
	width: 960px;
	margin: 0 auto;
	color: #181512
}